.pisa-flotante
{
    display:scroll;
    position:fixed;
    bottom:20px;
    right:20px;
    width: 200px;
}
.pisa-bottom
{
    display:scroll;
    position:fixed;
    bottom:10px;
}
.pisa-body
{
    background-color: #FFF;
}
.pisa-produt-btn
{
    margin: 5px;
    min-width: 150px;
}